// Typography

p, a, h1, h2, h3, h4, h5, h6, label {
  font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $typeface-sans;
}

h1 {}

h2 {}

h3 {}

h4 {}

h5 {}

h6 {}

p {
  margin: 0;
}

strong {
  font-weight: $bold-weight;
}

hr {}

pre,
code {
  white-space: pre-wrap;
}
