---
title: "Home"
---

<div class="l-constrained">
  <h1>LaCroix Design Co.</h1>
  <div class="b-text">
    <p><em>Muji carefully curated Toto</em>, punctual flat white airport vibrant Sunspel international Washlet handsome Ginza.</p>
  </div>
  <a href="#" class="btn">Standard Button</a><br><br>
  <img src="<%= image_path 'lacroix-logo-dark.png' %>" alt="<%= data.site.title %>">
</div>
